/*GENERALS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

/*UTILITIES*/

.container {
    width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w50 {
    width: 50%;
}

/*BUTTONS*/
.button{
    display: inline-block;
    min-width: 70px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: rgb(51, 23, 150);
    border: 1px solid #fff;
    border-radius: 10px;
}

.menu-inline .button {
    line-height: 0;
}

.button.green {
    background-color: rgb(32, 235, 42);
    border: 1px solid transparent;
}

/*MAIN HEADER*/

.main-header{
    line-height: 70px;
    text-transform: uppercase;
    background: rgb(51, 23, 150);
}

.main-header .img-logo{
    width: 15%;
}

.main-header .img-logo img{
    vertical-align: middle;
}

/*MAIN NAVIGATION*/

.main-header .nav-center {
    width: 45%;
}

.main-header .nav-right{
    width: 40%;
    text-align: right;
}

.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li a{
    font-size: 10px;
    text-decoration: none;
    color: #fff;
}

.menu-inline li:last-child{
    margin-right: 0;
}

/*MAIN BANNER*/

.main-banner {
    background: rgb(51, 23, 150);
    height: 300px;
    background-image: url('../img/background-header.png');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.banner-text {
    position: relative;
    left: 0;
    top: 60px;
}

.container .banner-text h1{
    margin-bottom: 20px;
    color: #fff;
    font-size: 36px;
}

/*BREAK SECTION*/

.break-section {
    height: 90px;
    background: rgb(212, 208, 208);
    text-align: center;
}

.break-section h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.break-section p {
    font-size: 14px;
    color: rgb(151, 142, 142);
}

/*THIRD SECTION WITH COLUMNS*/

.column{
    width: 33%;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
}

.column .shorter{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-bottom: 15px;
}

.column.middle{
    width: 30%;
    margin: 0 2%;

}

.column img {
    height: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.column h2 {
    margin-bottom: 20px;
    color: rgb(19, 112, 19);
    font-size: 18px;
}

.column p {
    font-size: 14px;
    color: rgb(151, 142, 142);
}

/*SPLIT SCREEN*/

/*container left*/

.container .left{
    width: 60%;
    padding: 15px;
    text-align: center;
}

.container .left img {
    height: 350px;
}

/*container right*/

.container .right {
    width: 40%;
    padding-top: 30px;
}

.container .right h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.container .right p {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(151, 142, 142);
}

/*FOOTER*/

footer {
    position: relative;
    height: 90px;
    line-height: 90px;
    background: rgb(212, 208, 208);
}

footer h2 {
    font-size: 22px;
    display: inline-block;
}

.foot-left {
    display: inline-block;
    width: 60%;
}

.foot-nav {
    display: inline-block;
    width: 39%;
    text-align: right;
}

.foot-nav li {
    display: inline-block;
    margin-right: 20px;
    color: rgb(151, 142, 142);
    list-style: none;
}
 
.foot-nav li:nth-child(2) {
    line-height: initial;
    border-bottom: 1px solid rgb(151, 142, 142);
}

.foot-nav li a{
    text-decoration: none;
    color: #fff;
}

.foot-nav .button.green {
    padding: 25px 5px;
    line-height: 0;
    border-radius: 5px;
}

/*HELP BUTTON*/

.help-button{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 70px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: rgb(64, 126, 7);
    border: 1px solid #fff;
    border-radius: 10px;
}
