/*GENERALS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

p {
    font-size: 14px;
    color: rgb(151, 142, 142);
}

/*UTILITIES*/

.container {
    width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w50 {
    width: 50%;
}

.w30{
    width: 30%;
}

/*BUTTONS*/
.button{
    display: inline-block;
    min-width: 70px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: rgb(51, 23, 150);
    border: 1px solid #fff;
    border-radius: 10px;
}

.menu-inline .button {
    line-height: 0;
}

.button.green {
    background-color: rgb(64, 126, 7);
    border: 1px solid transparent;
}

/*MAIN HEADER*/

.main-header{
    line-height: 70px;
    text-transform: uppercase;
    background: rgb(51, 23, 150);
}

.main-header .img-logo{
    width: 15%;
}

.main-header .img-logo img{
    vertical-align: middle;
}

/*MAIN NAVIGATION*/

.main-header .nav-center {
    width: 45%;
}

.main-header .nav-right{
    width: 40%;
    text-align: right;
}

.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li a{
    font-size: 10px;
    text-decoration: none;
    color: #fff;
}

.menu-inline li a:hover {
    color: rgb(71, 71, 233);
}

.menu-inline li:last-child {
    margin-right: 0;
}

/*MAIN BANNER*/

.main-banner {
    background: rgb(51, 23, 150);
    height: 300px;
    background-image: url('../img/background-header.png');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.main-banner .container {
    position:relative;
    height: 100%;
}

.banner-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.container .banner-text h1{
    margin-bottom: 20px;
    color: #fff;
    font-size: 36px;
}

/*BREAK SECTION*/

.break-section {
    height: 90px;
    background: rgb(212, 208, 208);
    text-align: center;
}

.break-section .container {
    position: relative;
    height: 100%;
}

.break-text {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-60%);
}

.break-section h2 {
    padding-bottom: 10px;
}

/*THIRD SECTION WITH COLUMNS*/

.column{
    width: 33%;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
}

.column .shorter{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-bottom: 15px;
}

.column.middle{
    width: 30%;
    margin: 0 2%;

}

.column img {
    height: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.column h2 {
    margin-bottom: 20px;
    color: rgb(19, 112, 19);
    font-size: 18px;
}

/*SPLIT SCREEN*/

/*container left*/

.container .left{
    width: 60%;
    padding: 15px;
    text-align: center;
}

.container .left img {
    height: 350px;
}

/*container right*/

.container .right {
    width: 40%;
    padding-top: 30px;
}

.container .right h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.container .right p {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(151, 142, 142);
}

.container .right a {
    color: indigo;
}
.container .right a:hover {
    color: blue;
}

/*FOOTER*/

.break-section2 {
    height: 90px;
    line-height: 90px;
    background: rgb(212, 208, 208);
}

.break-section2 h2 {
    font-size: 22px;
    display: inline-block;
}

.foot-left {
    display: inline-block;
    width: 60%;
}

.foot-nav {
    display: inline-block;
    width: 39%;
    text-align: right;
}

.foot-nav li {
    display: inline-block;
    margin-right: 20px;
    color: rgb(151, 142, 142);
    list-style: none;
}
 
.foot-nav li:nth-child(2) {
    line-height: initial;
    border-bottom: 1px solid rgb(151, 142, 142);
}

.foot-nav li a{
    text-decoration: none;
    color: #fff;
}

.foot-nav .button.green {
    padding: 25px 5px;
    line-height: 0;
    border-radius: 5px;
}

/*HELP BUTTON*/

.help-button{
    position: fixed;
    right: 10%;
    bottom: 0;
    min-width: 70px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgb(64, 126, 7);
    border: 1px solid #fff;
    border-radius: 5px 5px 0 0;
}

.help-button:hover{
    color: rgb(163, 139, 4);
    text-shadow: 1px 1px rgb(151, 142, 142);
}

/*BONUS PAGE*/

.container .hand1 img {
    height: 200px;
}

.small-container {
    height: 40px;
}

.small-container .button {
    font-size:8px;
    text-transform: uppercase;
    text-align: left;
    background: rgb(64, 126, 7);
    border-radius: 5px;
}

.container .small-container .button {
    width: 50%;
    height: 40px;
    color: #fff;
}

.container .small-container .span-container {
    display: inline-block;
    width: 49%;
    text-align: center;
}

/*Versatile section*/

.container2{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.container2 .versatile img {
    height: 200px;
    margin: 50px 0 20px 0;
}

.versatile h2 .colored {
    color: rgb(64, 126, 7);
}

.container2 .versatile .p1 {
    line-height: 40px;
    font-size: 12px;
}

.container2 .versatile .p2 {
    margin-bottom: 30px;
    font-size: 16px;
}

.container2 .versatile a{
    color: darkcyan;
}

/*BREAK SECTION 3*/

.break-section3 {
    margin-bottom: 50px;
    background: rgb(51, 23, 150);
    height: 400px;
}

.break-section3 .container{
    position:relative;
    height: 100%;
}

.break-text3{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.container .break-text3 h2 {
    margin-bottom: 40px;
    font-size: 22px;
    color: #fff;
}

.container .break-text3 p {
    margin-bottom: 25px;
    color: rgb(119, 117, 117);
}

/*SECTION 2 WITH 3 COLUMNS*/

.white-viewport {
    height: 350px;
    background: #fff;
}

.container3 {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.head-column{
    height: 20%;
    text-align: center;
}

.columns2 {
    width: 30%;
}

.columns2:nth-child(2){
    margin: 0 3%;
}

.columns2 img {
    margin-bottom: 20px;
    height: 40px;
}

.container-columns .columns2 h3 {
    margin-bottom: 20px;
    color: black;
}

.container-columns .columns2 p {
    margin-bottom: 20px;
    color: #978e8e91;
}

.colored-hr {
    margin-bottom: 20px;
    background-color: rgb(65, 147, 185);
    height: 8px;
}

.colored-hr2 {
    margin-bottom: 20px;
    background-color: rgb(231, 154, 10);
    height: 8px;
}

.colored-hr3{
    margin-bottom: 20px;
    background-color: rgb(39, 136, 19);
    height: 8px;
}

.colored-a{
    color: rgb(65, 147, 185);
}

.colored-a2 {
    color: rgb(231, 154, 10)
}

.colored-a3 {
   color: rgb(39, 136, 19);
}

/*BIG FOOTER*/

footer {
    background: rgb(51, 23, 150);
    height: 300px;
}

footer .container {
    position: relative;
    height: 30%;
}

footer .container .text-FAQs{
    position: absolute;
    left: 0;
    top: 10%;
    line-height: 2;

}

footer .container .foot-span-colored {
    color: darkgoldenrod;
}

footer .bg {
    height: 70%;
    background: rgb(68, 35, 187);
}

footer .container.second {
    position:relative;
    height: 100%;
}

.container .half-footer1,
.half-footer2 {
    display: inline-block;
    width: 49%;
}

.container .half-footer2 {
    position: absolute;
    text-align: right;
}

.container .half-footer1 h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
}

.half-footer1 li {
    list-style: none;
}

.half-footer1 li a {
    text-decoration: none;
    line-height: 2;
    color: darkgray;
}

.container .half-footer2 h2,
h3 {
    color: #fff;
}

.container .half-footer2 h2 {
    line-height: 4;
    text-transform: uppercase;
}

.container .half-footer2 h3 {
    margin-bottom: 20px;
}